<div id="component" class="animate-pulse pointer-events-none" title="filesManage"></div>
<label id="labelInfo"></label>

<div id="upload" class="mt-[10px] p-[10px] border-[2px] border-[gray] rounded-[10px] w-[30%] flex flex-col items-center justify-start">
    <div id="uploadButton" class="border-[3px] border-A transition hover:scale-[110%] overflow-hidden rounded-[5px]">
        <label class="cursor-pointer px-[10px] py-[5px] bg-B text-[white]" for="inputFile">upLoad</label>
        <input class="hidden" id="inputFile" type="file" multiple>
    </div>
    <div id="listUpload" class="hidden w-[90%] flex-col items-center justify-start mt-[10px] h-max-[500px]">
        <span>Liste des fichiers en cours d'envoi :</span>
    </div>
</div>

<script>
    const divUpload = document.getElementById("listUpload")
    const myUpload = new upLoad("inputFile")
    myUpload.on("start", (files) => {
        myUpload.info = { path: document.getElementById("path").innerText }
        document.getElementById("uploadButton").classList.toggle("hidden")
        document.getElementById("listUpload").classList.toggle("hidden")
        document.getElementById("listUpload").classList.toggle("flex")
        let index = 0
        for(const file of files){
            index++
            divUpload.innerHTML += /*HTML*/`<span class="" id="${file.name}/${index}">${file.name} en attente...</span>`
        }
    })

    myUpload.on("startFileUpLoad", (file, numFile) => {
        document.getElementById(file.name + "/" + numFile).innerText = "Début de l'envoi de " + file.name
    })

    myUpload.on("endFileCut", (file, numFile, byteSend) => {
        document.getElementById(file.name + "/" + numFile).innerText = file.name + " : " + Math.ceil(byteSend/1024/1024) + "/" + Math.ceil(file.size/1024/1024) + "Mo"
    })

    myUpload.on("endFileUpLoad", (file, numFile) => {
        document.getElementById(file.name + "/" + numFile).remove()
        listComponent.filesManage.refresh({ path: document.getElementById("path").innerText })
    })

    myUpload.on("end", () => {
        document.getElementById("uploadButton").classList.toggle("hidden")
        document.getElementById("listUpload").classList.toggle("hidden")
        document.getElementById("listUpload").classList.toggle("flex")
    })
</script>