<ul class="absolute flex flex-row items-center justify-between w-full h-[10%] bg-A text-[white] select-none text-[20px] z-10 px-[10px]">

    <div class="flex hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/admin">Accueil</a>
    </div>

    <div class="flex hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/admin/degree">Diplômes</a>
    </div>

    <div class="flex hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/admin/skills">Compétences</a>
    </div>

    <div class="flex hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px] text-[15px]">
        <a href="/admin/professionalExp">Expériences<br>professionnelles</a>
    </div>

    <div class="flex hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/admin/projects">Projets</a>
    </div>

    <div>
        <div class="bg-C border-[4px] border-D rounded-[10px] transition hover:scale-[110%]">
            <a href="/admin/files" class="px-[10px] text-center">Files Manage</a>
        </div>
    </div>

</ul>