<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<form id="form" class="border-[gray] border-[2px] rounded-[10px] w-[60%] p-[10px] mt-[40px] flex flex-row justify-start items-center">
    <div class="w-1/2 flex flex-col justify-start items-center">
        <label for="category">Tag du projet</label>
        <select class="chosen-select" data-placeholder=" " id="category" multiple>
            <option value="informatique">informatique</option>
            <option value="web">web</option>
            <option value="logiciel">logiciel</option>
            <option value="nodeJS">nodeJS</option>
            <option value="Python">Python</option>
            <option value="arduino">arduino</option>
            <option value="express">express</option>
            <option value="socket.io">socket.io</option>
            <option value="react native">react native</option>
            <option value="conception 3D">conception 3D</option>
            <option value="impression 3D">impression 3D</option>
            <option value="réalisation sur machine">réalisation sur machine</option>
        </select>
        <button class="mt-[20px] py-[5px] px-[10px] bg-B border-A border-[2px] rounded-[5px] text-[white] transition hover:scale-110" type="submit">Créer</button>
    </div>
    <div class="w-1/2 flex flex-col justify-start items-center h-full">
        <label for="name">Nom</label>
        <input class="border-[gray] border-[2px] rounded-[5px] px-[5px]" id="name" name="name" type="text" required>
        <label for="date">Créer le</label>
        <input class="border-[gray] border-[2px] rounded-[5px] px-[5px]" id="date" name="date" type="date" required/>
        <label for="logo">Logo</label>
        <input class="border-[gray] border-[2px] rounded-[5px] px-[5px]" id="logo" name="logo" type="text">
    </div>
</form>

<label id="labelInfo"></label>

<div class="flex flex-row w-[400px] justify-around items-end mt-[20px]">
    <div class="flex flex-col justify-start items-center">
        <label for="category/2">Tag</label>
        <select class="chosen-select2" data-placeholder=" " id="category" multiple>
            <option value="informatique">informatique</option>
            <option value="web">web</option>
            <option value="logiciel">logiciel</option>
            <option value="nodeJS">nodeJS</option>
            <option value="Python">Python</option>
            <option value="arduino">arduino</option>
            <option value="express">express</option>
            <option value="socket.io">socket.io</option>
            <option value="react native">react native</option>
            <option value="conception 3D">conception 3D</option>
            <option value="impression 3D">impression 3D</option>
            <option value="réalisation sur machine">réalisation sur machine</option>
        </select>
    </div>
    <div class="flex flex-col justify-start items-center">
        <label for="sname">Nom de projet</label>
        <input class="border-[gray] border-[2px] rounded-[5px] px-[5px]" id="sname" type="text">
    </div>
</div>

<div id="component" title="listProjects" class="hidden"></div>

<script>
    $(".chosen-select").chosen({no_results_text: "Aucun résultat pour :"});
    $(".chosen-select2").chosen({no_results_text: "Aucun résultat pour :"}).change(() => {
        listComponent.listProjects.refresh({category: $(".chosen-select2").val(), name: document.getElementById('sname').value});
    });
    document.getElementById("sname").addEventListener('input', () => {
        listComponent.listProjects.refresh({category: $('.chosen-select2').val(), name: document.getElementById('sname').value});
    });
    
    document.getElementById("form").addEventListener("submit", (event) => { 
        event.preventDefault()

        seeInfo("En attente d'une réponse du serveur...")
        toModule("postProject", {
            Pid: Date.now().toString(),
            category: $(".chosen-select").val(),
            name: document.getElementById("name").value, 
            date: document.getElementById("date").value,
            logo: document.getElementById("logo").value,
            intro: "",
            cdc: [],
            images: [],
            ccl: "",
            status: "",
            git: "",
            visible: false
        }).then((rep) => {
            $('.chosen-select').val([]).trigger('chosen:updated')
            document.getElementById("name").value = ""
            document.getElementById("date").value = ""
            document.getElementById("logo").value = ""
            listComponent.listProjects.refresh({ category: $('.chosen-select2').val(), page: document.getElementById('page').innerText })
            deleteInfo()
        }).catch((rep) => {
            deleteInfo()
        })
    })
    
    function checkChange(pid){
        toModule("visibleProject", {
            Pid: pid,
            visible: document.getElementById("check/" + pid).checked
        }, " ")
    }
</script>