<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/images/logo.png"/>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <% scripts.forEach((script) => { %>
        <script src="/public/js/<%= script %>.js"></script>
    <% }); %>
    <title><%= title %></title>
</head>
<body class="w-full h-[100vh] flex flex-col items-center justify-center">
    <div class="bg-C border-D border-[4px] rounded-[30px] w-[80%] lg:w-[50%] flex flex-col items-center justify-start">
        <span class="text-[30px] text-[white] text-center" style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: #000;">Mathieu Campani Admin</span>
        <form id="form" method="post" class="w-[50%] flex flex-col items-center justify-start my-[25px]">
            <div class="flex flex-col w-full">
                <label for="id" class="text-[white]">id</label>
                <input name="id" type="text" id="id" class="w-full h-[35px] rounded-[10px] px-[5px] transition hover:scale-110" placeholder="id" required minlength="10">
            </div>

            <div class="flex flex-col w-full">
                <label for="mdp" class="text-[white] mt-[20px]">Mot de passe</label>
                <input name="mdp" type="password" class="w-full h-[35px] rounded-[10px] px-[5px] transition hover:scale-110" id="mdp" placeholder="monsupermotdepasse" required minlength="10">
            </div>

            <button type="submit" class="mt-[20px] text-[white] bg-D border-[2px] border-E transition hover:scale-110 px-[5px] rounded-[5px]" accesskey="Enter">Se connecter</button>
        </form>
    </div>
    <label id="labelInfo"></label>
    <script src="/public/js/<%= modules %>/<%= page %>.js"></script>
</body>
</html>