<ul class="absolute flex flex-row items-center justify-between w-full h-[10%] bg-A text-[white] select-none text-[20px] z-10">

    <div class="hidden lg:flex ml-[10px] hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/index">Accueil</a>
    </div>

    <div class="hidden lg:flex ml-[10px] hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/index/degree">Diplômes</a>
    </div>

    <div class="hidden lg:flex ml-[10px] hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/index/skills">Compétences</a>
    </div>

    <div class="hidden lg:flex ml-[10px] text-[15px] hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/index/professionalExp">Expériences<br>professionnelles</a>
    </div>

    <div class="hidden lg:flex ml-[10px] hover:border-y-[4px] hover:border-t-A py-[5px] px-[10px]">
        <a href="/index/projects">Projets</a>
    </div>

    <div class="lg:hidden flex flex-row items-center justify-end ml-[10px]">
        <div class="relative inline-block mr-[20px]">
            <div class="flex justify-center">
                <button type="button" onclick="document.getElementById('navtmd2').classList.toggle('hidden'); document.getElementById('navtmd').className.indexOf('hidden') != -1? null : document.getElementById('navtmd').classList.toggle('hidden')" class="inline-flex justify-center w-full py-2 px-4 rounded-[5px] hover:bg-[#368bc2]" id="menu-button" aria-expanded="true" aria-haspopup="true">
                    <div class="h-[30px] w-[30px] flex flex-col justify-between">
                        <span class="border-[2px] bg-[white] border-[white] w-full rounded-[5px]"></span>
                        <span class="border-[2px] bg-[white] border-[white] w-full rounded-[5px]"></span>
                        <span class="border-[2px] bg-[white] border-[white] w-full rounded-[5px]"></span>
                    </div>
                </button>
            </div>
            <div id="navtmd2" class="hidden origin-top-left absolute left-0 mt-[35px] w-56 rounded-[10px] shadow-lg border-[2px] border-A bg-B" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <a href="/index" class="block px-4 py-2 hover:text-A">Accueil</a>
                    <a href="/index/degree" class="block px-4 py-2 hover:text-A">Diplômes</a>
                    <a href="/index/skills" class="block px-4 py-2 hover:text-A">Compétences</a>
                    <a href="/index/professionalExp" class="block px-4 py-2 hover:text-A">Expériences professionnelles</a>
                    <a href="/index/projects" class="block px-4 py-2 hover:text-A">Projets</a>
                </div>
            </div>
        </div>
    </div>

    <div id="navinfo" class="flex flex-col justify-center items-center bg-B rounded-[10px] h-[80%] p-[5px] mr-[10px] px-[5px] lg:transition lg:hover:scale-[110%]" title="clique" onclick="document.getElementById('navtmd').classList.toggle('hidden'); document.getElementById('navtmd2').className.indexOf('hidden') != -1? null : document.getElementById('navtmd2').classList.toggle('hidden')">
        <div class="h-[70%] aspect-square overflow-hidden rounded-[30px] border-[2px]">
            <img class="mt-[-5px] w-full" src="/public/images/photo.jpg" alt="">
        </div>
        <a class="text-[55%]">Mathieu Campani</a>
    </div>
    <div id="navtmd" class="hidden absolute top-[110%] translate-x-[50%] right-[50%] sm:translate-x-0 sm:right-[10px] w-[95%] sm:w-[350px]" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="w-full bg-C border-[2px] border-D rounded-[20px] flex flex-row items-center justify-between p-[10px]" role="none">
            <div class="h-[150px] flex flex-col items-start justify-around text-[black]">
                <div class="bg-[white] p-[5px] rounded-[10px] relative" title="Cliquer pour copier" onclick="navigator.clipboard.writeText(document.getElementById('email').innerText).then(()=>{alert('Email Copié')});" >
                    <label class="text-[12px]">Email:</label><span class="absolute right-[5px] text-[10px] text-[gray]">Click me</span>
                    <br>
                    <span id="email" class="text-[15px]">campani.mathieu@gmail.com</span>
                </div>
            </div>
            <div class="h-[150px] rounded-[20px] border-[2px] overflow-hidden">
                <img class="h-full" src="/public/images/photo.jpg" alt="">
            </div>
        </div>
    </div>
</ul>