<div id="component" title="loreProfessionalExp" class="animate-pulse pointer-events-none"></div>

<div class="flex flex-row items-end mt-[20px] w-full justify-around">
    <div class="flex flex-col justify-start items-center">
        <span>Catégorie</span>
        <select class="border-[2px] border-[gray] rounded-[5px]" id="category" onchange="listComponent.listProfessionalExp.refresh({ category: document.getElementById('category').value })">
            <option value="">tout</option>
            <option value="employé">employé</option>
            <option value="stagiaire">stagiaire</option>
            <option value="non-officiel">non-officiel</option>
        </select>
    </div>
</div>

<div id="component" title="listProfessionalExp" class="animate-pulse pointer-events-none"></div>