<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<p class="text-center lg:w-[60%] lg:text-[20px]">Vous trouverez ici mes projets informatique et mes réalisations technique. N'hésitez pas à utiliser le filtre pour faire des recherches plus intéressante.</p>

<div class="flex flex-row justify-around items-end mt-[20px] w-full lg:w-[50%]">
    <div class="flex flex-col justify-start items-center">
        <label for="category">Tag</label>
        <select class="chosen-select" data-placeholder=" " id="category" multiple>
            <option value="informatique">informatique</option>
            <option value="web">web</option>
            <option value="logiciel">logiciel</option>
            <option value="nodeJS">nodeJS</option>
            <option value="Python">Python</option>
            <option value="arduino">arduino</option>
            <option value="express">express</option>
            <option value="socket.io">socket.io</option>
            <option value="react native">react native</option>
            <option value="conception 3D">conception 3D</option>
            <option value="impression 3D">impression 3D</option>
            <option value="réalisation sur machine">réalisation sur machine</option>
        </select>
    </div>
</div>

<div id="component" title="listProjects" class="animate-pulse pointer-events-none"></div>

<script>
    $(".chosen-select").chosen({no_results_text: "Aucun résultat pour :", width: "300px"}).change(() => {
        listComponent.listProjects.refresh({category: $(".chosen-select").val()});
    });
</script>